.verification{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
    margin-right: 3%;
}

.finish{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(1, 11, 71);
    background-color: rgb(1, 11, 71);
    color: white;
    margin-left: 6%;
    margin-top: 1%;
}

.bouton{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}